/node_modules
.Rproj.user
frontend/poligonos/asentamientos/*
!frontend/poligonos/asentamientos/.gitkeep 
frontend/poligonos/departamentos/*
!frontend/poligonos/departamentos/.gitkeep 
frontend/poligonos/provincias/*
!frontend/poligonos/provincias/.gitkeep 
extraccion_calles/argentina-latest.osm.pbf
