body{
    font-family: Arial, Helvetica, sans-serif;
}

#mapid { height: 600px; }

.container{
    float: left;
    margin-left: 28px;
    font-size: 11px;
}

.no{
    background-color: red;
}

.si{
    background-color: green;
}